body {
  display: flexbox;
  margin: 0 auto;
  position: relative;
}

.fa-bars {
  position: relative;
  top: 0;
  left: 0;
  margin: 1em;
  color: grey;
  text-decoration: none;
}

.fa-bars:hover{
  cursor: pointer;
  text-decoration: none;
  animation: Logo-spin 1s;
  animation-iteration-count: 1;
}


@keyframes Logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

/* form decoration */
.fade-group {
  display: flex;
  justify-content: center;
}

/* warning message if nothing is typed in the creation */
.warning {
  display: none;
}

.warning-show {
  font-size: 12px;
  color: red;
}

/* card css */
.card {
  width: 18rem;
  margin: 10px;
}

.card-group{
  display: inline-grid;
}

/* trash bin logo */

.fa-trash {
  text-align: right;
  cursor: pointer;
}